
.topbar {
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  background: linear-gradient(to right, #3b6b8e, #4fa3a5, #5bbd89);
  color: white;
  gap: 12px;
  position: sticky;
  top: 0;
  z-index: 800;
}

.hamburger {
  font-size: 22px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.title {
  font-weight: 700;
  flex: 1;
  font-size: 22px;
}

.logout {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.2);
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.bank_name {
  width: 900px;          
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  font-size: 18px;
  color: #eff2f4;
}

.bank_name span {
  display: inline-block;
  padding-left: 100%;
  animation: scrollText 5s linear infinite;
}

@keyframes scrollText {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.user_role {
   font-size: 15px;
} 
