/* Increase card height */
.pending_cards {
  min-height: 50px;        /* adjust as needed */
  display: flex;
  padding-left: 10px;
  
}

/* Underline only the title text */
.pending_cards .card-title {
  display: inline-block;
  width: fit-content;
  border-bottom: 3px solid #4CAF50;
  
}

.button-row {
  display: flex;
  gap: 10px;
  padding-left: 5px;
  padding-top: 5px;
 
  
}

.dropdown-btn{
  padding: 10px 18px;
  background-color: white; /* Material Blue */
  color: rgb(45, 36, 36);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}


.batch-input{
  padding: 10px 18px;
  background-color: white; /* Material Blue */
  color: rgb(45, 36, 36);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.search{
  padding: 10px 18px;
  background-color:rgb(69, 203, 69); /* Material Blue */
  color: rgb(45, 36, 36);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.search-btn{
  padding: 10px 18px;
  background-color: white; /* Material Blue */
  color: rgb(45, 36, 36);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;

}

.app-btn {
  padding: 10px 18px;
  background-color: red; /* Material Blue */
  color: white;
  border: black;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.app-btn:hover {
  background-color: #1565c0; /* darker blue on hover */
  transform: translateY(-2px);
}

.app-btn:active {
  transform: scale(0.96);
}


.table-css{
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  
}


.column-css th {
    background-color: #CDEBD9;   /* Light blue */
    color: #000;                  /* Black text */
    font-weight: bold;
    text-align: center;
}


.table-bordered {
    border: 1px solid #a0acba !important;   /* Dark blue border */
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #a0acba !important;   /* Dark blue cell borders */
}






.date-field .form-control {
  border-radius: 8px;
  height: 42px;
}

.date-field button {
  border-radius: 8px;
}
