.export-card {
  display: flex;
  align-items: left;
  height: 50px;
}

.export-title {
  margin: 0;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.content-card {
  padding: 5px;

}

.mat-content-card {
  padding: 15px;
  border-radius: 20px;
  display: flex;
  
}

.content-card-header {
  background-color: rgb(240, 236, 236);
  padding: 7px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  /* space between header and content */
}

.content-card-header h3 {
  margin: 0;
  color: rgb(236, 56, 56);
  font-size: 16px;
  font-weight: 600;
}

.individual-header {
  background-color: #f8f9fb; 
  padding: 12px 18px;
  border-bottom: 1px solid #e2e2e2; 
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;                    
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); 
}

.individual-header .arrow {
  margin-right: 10px;
  font-size: 16px;
  color: #555;
}

.report-row {
  display: flex;
  flex-wrap: wrap;          
  gap: 20px;               
  padding: 20px;
}

.report-row button {
  background: #1fa3ff;      
  color: white;
  padding: 10px 28px;
  border: none;
  border-radius: 30px;      
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  min-width: 180px;        
  text-align: center;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.15);  
  transition: 0.2s ease;
}

.report-row button:hover {
  background: #008cff;
  transform: translateY(-2px);
}