.export-card {
  display: flex;
  align-items: left;
  height: 50px;
}

.export-title {
  margin: 0;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.content-card {
  padding: 5px;

}

.mat-content-card {
  padding: 15px;
  border-radius: 20px;
  display: flex;
  
}

.content-card-header {
  background-color: rgb(240, 236, 236);
  padding: 7px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  /* space between header and content */
}

.paginator{
  padding-top: 10px;
  border: 1px solid #f7f9fc !important; 
}

.content-card-header h3 {
  margin: 0;
  color: rgb(236, 56, 56);
  font-size: 16px;
  font-weight: 600;
}


.button-row {
  display: flex;
  gap: 10px;
  padding-left: 5px;
  padding-top: 5px;
 
 
  
}

.dropdown-btn{
  padding: 10px 18px;
  background-color: white; /* Material Blue */
  color: rgb(45, 36, 36);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.batch-input{
  padding: 10px 18px;
  background-color: white; /* Material Blue */
  color: rgb(45, 36, 36);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.search{
  padding: 10px 18px;
  background-color:rgb(69, 203, 69); /* Material Blue */
  color: rgb(45, 36, 36);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.search-btn{
  padding: 10px 18px;
  background-color: white; /* Material Blue */
  color: rgb(45, 36, 36);
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.table-css{
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  
}


.column-css th {
    background-color: #CDEBD9;   /* Light blue */
    color: #000;                  /* Black text */
    font-weight: bold;
    text-align: center;
}


.table-bordered {
    border: 1px solid #a0acba !important;   /* Dark blue border */
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #a0acba !important;   /* Dark blue cell borders */
}


.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

/* Tooltip box */
.tooltip-text {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;

  position: absolute;
  bottom: 120%; /* show above button */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* Tooltip arrow */
.tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

/* Show tooltip on hover */
.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

