.full-width {
  width: 100%;
}
mat-card {
  padding: 15px !important;
}

.login-card {
  max-width: 500px;        /* Reduce card width */
  margin: 50px auto;       /* Center the card vertically & horizontally */
  padding: 20px 25px;      /* Reduce padding */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border-radius: 10px;
  background-color: #fff;
}


.login-logo {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

/* Full page wrapper for perfect centering */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;             /* full page height */
  background: #2a6b9c, ; /* soft background */
}

.alert-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050; /* above all content */
  min-width: 250px;
  max-width: 350px;
  animation: slideIn 0.4s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
